<aside id="left-sidebar-nav">
   <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y" style="width: 240px;">
      
       <li class="bold active"><a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
       </li>
       <li class="bold"><a href="app-email.html" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> Mailbox <span class="new badge">4</span></a>
       </li>
       <li class="bold"><a href="app-calendar.html" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Calender</a>
       </li>
       <li class="li-hover"><div class="divider"></div></li>
      <!--  <li class="li-hover"><p class="ultra-small margin more-text">MORE</p></li>
       <li><a href="css-grid.html"><i class="mdi-image-grid-on"></i> Grid</a>
       </li>
       <li><a href="css-color.html"><i class="mdi-editor-format-color-fill"></i> Color</a>
       </li>
       <li><a href="css-helpers.html"><i class="mdi-communication-live-help"></i> Helpers</a>
       </li>
       <li><a href="changelogs.html"><i class="mdi-action-swap-vert-circle"></i> Changelogs</a>
       </li>                    
       <li class="li-hover"><div class="divider"></div></li>
       <li class="li-hover"><p class="ultra-small margin more-text">Daily Sales</p></li>
        -->
   <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 565px; right: 3px;"><div class="ps-scrollbar-y" style="top: 0px; height: 273px;"></div></div></ul>
    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
</aside>

<!-- <sidebar-cmp>
    <button class="btn btn-default" id="toggle-sidebar" type="button"> ☰ </button>
    <nav class="sidebar">
        <ul class="list-group">
            <a class="list-group-item router-link-active" routerlink="/home" ui-sref="home" ng-click="addActive(this)"> <i class="fa fa-fw fa-dashboard"></i> Products </a>
            <a class="list-group-item" ui-sref="customers" ng-click="addActive(this)"> <i class="fa fa-fw fa-bar-chart-o"></i> Customers </a>
        </ul>
    </nav>
</sidebar-cmp> -->