<div class="modal-dialog" ng-controller="ProductAddController">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-label="Close" class="close" data-dismiss="modal" ng-click="close()" type="button"> <span aria-hidden="true">×</span> </button>
            <h5 class="modal-title">Add Product</h5> </div>
        <div class="modal-body"> 
        	<div class="form">
        		<fieldset>
        			<div class="form-group">
	        			<label>Name</label>
	        			<input class="form-control" ng-model="product.name">
	        		</div>
	        		<div class="form-group">
	        			<label>Company</label>
	        			<input class="form-control" ng-model="product.company">
	        		</div>
	        		<label>Details</label> 				
					<div class="form-group input-group">
						<div class='col-sm-3'>
							<input class="form-control" placeholder="Quantity" ng-model="product.quantity">
						</div>
						<div class='col-sm-3'>
							<select class="form-control" ng-model="product.measurements" placeholder="Measurements" ng-options="x for x in measurments">
							<option value="" disabled selected>Measurement</option>  							    
							 </select>
						</div>
						<div class='col-sm-3'>
							<input class="form-control" placeholder="Cost" ng-model="product.cost">
						</div>
						<div class='col-sm-3'>
							<input class="form-control" placeholder="Discount" ng-model="product.discount">
						</div>
				    </div>
				    <div style="text-align:center" class="form-group">
				    	<button  class="btn btn-primary" ng-click="">Add Product</button>
				    </div>
        		</fieldset>
        	</div>
        </div>
    </div>
</div>