<md-dialog aria-label="ADD" ng-contoller="DialogController">
<form ng-cloak>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Add Product</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <md-icon
			md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
		</md-button>
	</div>
	</md-toolbar>

	<md-dialog-content>
	<div class="md-dialog-content">
		<div class="input-field col s12">
			<input id="name" type="text" ng-model="product.name"> <label
				for="first_name">Name</label>
		</div>
		<div class="input-field col s12">
			<input id="company" type="text" ng-model="product.company"> <label
				for="company">Company</label>
		</div>
		<md-input-container class="md-block">
            <label>Measurement</label>
            <md-select ng-model="measurments" >
              <md-option  ng-value="measurment" ng-repeat="measurment in measurments " >{{measurment.name}}              
              </md-option>
            </md-select>
          </md-input-container>
		<div class="input-field col s12">
			<input id="quantity" type="text" ng-model="product.quantity" value="quantity">
			<label for="quantity">Quantity</label>
		</div>
		<div class="input-field col s12">
			<input id="cost" type="text" ng-model="product.cost"> <label
				for="cost">Cost</label>
		</div>
		<div class="input-field col s12">
			<input id="discount" type="text" ng-model="product.discount">
			<label for="discount">Discount</label>
		</div>
	</div>
	</md-dialog-content>

	<md-dialog-actions layout="row"> <!-- <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button> --> <md-button ng-click="answer('useful')"
		class="md-primary"> ADD </md-button> </md-dialog-actions>
</form>
</md-dialog>