/* Customized css */

/* Modals should always on top */
.md-dialog-container{
	z-index : 1000;
}
.md-select-menu-container.md-active{
	z-index : 1001;
}
.md-dialog-container md-dialog{
	width : 650px;
}